{% extends 'base.html.twig' %}

{% block title %}Crazy phone - Notre boutique{% endblock %}

{% block body %}
    <div class="mt-24 mb-10 px-5 md:px-10 xl:px-20 min-h-[100vh]">
        <div class="section-heading style-2 mb-7 w-full mt-10">
            <h1 class="text-xl md:text-3xl mb-2">
                <i class="fa-solid fa-shopping-cart text-primary mr-3"></i>Boutique
            </h1>
            <div class="line"></div>
        </div>

        <react-shop></react-shop>
    </div>

{% endblock %}