<h1>Contact depuis le site internet Crazy-phone.fr</h1>
<p>
    Nom : {{ contact_nom }}<br/>
    Mail : {{ contact_mail }}<br/>
    Devis : {{ contact_devis }}<br/>
    Message :<br/>
    {{ contact_message|raw }}
</p>